[Unit]
Description=Merge multiple keyboards into one input
After=multi-user.target
ConditionPathExistsGlob=/dev/input/by-id/*-kbd
[Service]
ExecStart=/bin/sh -c '/usr/local/bin/mergeinputs /dev/input/by-id/*-kbd'
[Install]
WantedBy=multi-user.target
